/* src/styles/Registration.css */
.registration {
  max-width: 500px;
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
  padding: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.registration h2 {
  margin-bottom: 20px;
}

.registration form div {
  margin-bottom: 15px;
}

.registration label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--color-text);
}

.registration input,
.registration select {
  border: 1px solid var(--color-brand2);
}

.registration button {
  width: 100%;
  margin-top: 20px;
}

.registration p {
  margin-top: 15px;
}

.registration a {
  color: var(--color-secondary);
}

.registration a:hover {
  color: var(--color-brand2);
}
